*{
	box-sizing: border-box;
	font-family: sans-serif;
    margin:0;
    padding:0
}

body{
    
    margin:0;
	padding:0;
	background-color: white;
	margin-bottom: 5%;
	min-height: 400px;

}

/* header section starts */
li, a , button {
	font-family: sans-serif;
	font-weight: 500;
	font-size: 1.3rem;
	color: lightslategray;
	text-decoration: none;
	list-style-type: none;

}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid 2px lightgrey;
}

.logo{
	cursor: pointer;
	
	
}


.nav-link{
	list-style: none;
	
}

.nav-link li {
	display: inline-block;
	margin: 1em;
}

.nav-link li a {
	transition: all 0.8s ease 0s;
	padding: 1em;
    
}

.nav-link li a:hover {
	color: white;
	background-color: black;
	border-radius: 50%;

}

.nav-link li a:focus{
    color:white;
    background-color: black;
    border-radius: 50%;
}

 .nav-link li a:visited {
    color: red;
    
}






/* header section ends */

/* footer begins */

footer {
	display:flex;
	background-color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 5vh;
	width: 100%;
	border-top: 2px solid lightgray;
	justify-content:center;
	align-items:center;
	
	 
	
	}
	 
	 .phone {
	   
	   font-size: .8rem;
	margin:auto;
	 }
	 
	 .address {
	   
	   font-size: .8rem;
	 margin:auto;
	 }

     
	 .copyright{
		display: flex;
		padding-right:2%;
		font-size: .8rem;
	 }

     
	 /* footer ends */
